@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --background: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f7f7f7;
  }
}
@layer base {
  body {
    @apply bg-gradient-to-br; /* para que siempre al menos sea altura ventana */
  }
}

@layer components {
  .blob {
    @apply absolute rounded-full bg-gradient-to-br from-[#00FFAA];
    /* animation: wobble 10s ease-in-out alternate infinite; */
  }
  .blob.top {
    @apply rounded-full;
  }

  .blob.bottom {
    @apply rounded-full;
  }
  .blob_color_1 {
    @apply absolute rounded-full bg-gradient-to-br from-[#D3BFFF];
    /* animation: wobble 10s ease-in-out alternate infinite; */
  }
  .blob_color_1.top {
    @apply rounded-full;
  }
  .blob_color_1.bottom {
    @apply rounded-full;
  }
  .blob_color_2 {
    @apply absolute rounded-full bg-gradient-to-br from-[#DCEFFC];
    /* animation: wobble 10s ease-in-out alternate infinite; */
  }
  .blob_color_2.top {
    @apply rounded-full;
  }
  .blob_color_2.bottom {
    @apply rounded-full;
  }
  .margin_general_phone {
    @apply px-4;
  }
}

@layer utilities {
  @keyframes wobble {
    0% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
    50% {
      border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
    }
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
  }

  @keyframes blob-one {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-600%); }
  }
  @keyframes blob-two {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-420%); }
  }
  @keyframes blob-three {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-305%); }
  }
  @keyframes blob-four {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-465%); }
  }
  @keyframes blob-five {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-700%); }
  }
  @keyframes blob-six {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-700%); }
  }
  @keyframes blob-seven {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-300%); }
  }

  .animate-blob-one {
    animation: wobble 4s ease-in-out alternate infinite, blob-one 18s ease-in-out infinite;
  }
  .animate-blob-two {
    animation: wobble 5s ease-in-out alternate infinite, blob-two 22s ease-in-out infinite;
  }
  .animate-blob-three {
    animation: wobble 6s ease-in-out alternate infinite, blob-three 16s ease-in-out infinite;
  }
  .animate-blob-four {
    animation: wobble 8s ease-in-out alternate infinite, blob-four 16s ease-in-out infinite;
  }
  .animate-blob-five {
    animation: wobble 9s ease-in-out alternate infinite, blob-five 32s ease-in-out infinite;
  }
  .animate-blob-six {
    animation: wobble 10s ease-in-out alternate infinite, blob-six 12s ease-in-out infinite;
  }
  .animate-blob-seven {
    animation: wobble 11s ease-in-out alternate infinite, blob-seven 32s ease-in-out infinite;
  }
}

